.modalBody{
    background-color: #101112;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 25px;
    padding-bottom: 15px;
    color: white;
}

.photo{
    border-radius: 10px;
    height: 25rem;
    width:  40rem;
    object-fit: cover;
}

.photomini{
    border-radius: 10px;
    height: 10rem;
    width:  10rem;
    object-fit: cover;
}


.itemRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    padding-top: 15px;
    color: white;
}

.suvRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.rowLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}


.itemSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 30rem;
    background-color: #3d3d3d;
    color: white;
    border-radius:  10px;
}

.itemSelectorFood{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 30rem;
    background-color: #3d3d3d;
    color: white;
}

.itemCount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    width: 9rem;
    background-color: #3d3d3d;
    color: white;
    border-radius: 10px;
}

.whiteButton{
    border-radius: 10px;
    background-color: antiquewhite;
    color: #3d3d3d;
    height: 3.5rem;
    width: 6rem;
    font-size: 20px;
    border: 0px;
}

.plusButton{
    border-radius: 10px;
    background-color: antiquewhite;
    color: #3d3d3d;
    height: 3.5rem;
    width: 3rem;
    font-size: 20px;
    border: 0px;
}

.minusButton{
    border-radius: 10px;
    background-color: #3d3d3d;
    color: white;
    height: 3.5rem;
    width: 3rem;
    font-size: 20px;
    border: 0px;
}

.addMore{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 40rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 40rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nextButton{
    border-radius: 10px;
    background-color: #3d3d3d;
    color: white;
    height: 3rem;
    width: 10rem;
    font-size: 20px;
    border: 0px;
}

.payButton{
    border-radius: 10px;
    background-color: #3d3d3d;
    color: white;
    height: 3rem;
    width: 15rem;
    font-size: 20px;
    border: 0px;
}

.cancelButton{
    background-color: #101112;
    color: white;
    height: 3rem;
    width: 8rem;
    font-size: 20px;
    border: 0px;
}

.dropdownItem{
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 30rem;
    background-color: #3d3d3d;
    color: white;
    border-radius:  10px;
    font-size: 20px;
    
}

.dropdownFood{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    color: white;
    padding-right: 9.5rem;
}